<!-- src/app/components/student-detail/student-detail.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ps-2 pe-2">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <div class="d-flex align-items-center">
      <span class="me-3">{{ teacherName }}</span>
      <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container mt-4">
    <div class="container-fluid d-flex justify-content-between mb-3">
    <h2 class="p-0 m-0 text-nowrap">Student Detail</h2>
    <div class="container-fluid d-flex justify-content-end gap-2">
    <a class="btn btn-primary" routerLink="/addstudent">Add Student</a>
    <a class="btn btn-info text-white" routerLink="/students">All Student</a>
  </div>
  </div>

  <div *ngIf="student" class="card">
    <div class="card-body">
      <p><strong>Name:</strong> {{ student.name }}</p>
      <p><strong>Roll Number:</strong> {{ student.rollno }}</p>
      <p><strong>Subject:</strong> {{ student.subject }}</p>
    </div>
  </div>
  <div *ngIf="!student" class="alert alert-warning">
    <p>Student not found</p>
  </div>
</div>
